.chatComponent {
  height: 75%;
  margin-left: 25%;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.chatMessages {
  height: 100%;
  overflow: scroll;
  text-align: left;
}

.chatInput {
  padding: 10px;
}
