.chatComponent {
  height: 40%;
  margin-left: 30%;
  width: 40%;
  padding: 10px;
  text-align: center;
}

.chatMessages {
  height: 100%;
  overflow: scroll;
  text-align: left;
}

.chatInput {
  padding: 10px;
}
