.loveLetterContainer {
  text-align: center;
  display: flex;
  height: 100%;
}

.usernameInput {
  padding-top: 300px;
  padding-left: 40%;
  width: 20%;
  text-align: center;
}

.input {
  font-size: inherit;
}
