.loveLetterCard {
  width: 248px;
  height: 396px;
  display: flex;
  flex-flow: column;
  border-radius: 25px;
  border: 8px solid #4c566a;
}

.selectableCard.loveLetterCard {
  cursor: pointer;
}

.loveLetterCardTop {
  flex: 4;
  font-size: 36px;
}

.loveLetterCardName {
  line-height: 72px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.loveLetterCardDescription {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  font-size: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.loveLetterCardValue {
  font-size: 32px;
  margin-right: 24px;
  font-weight: 700;
}

.cheatSheetCard {
  width: 186px;
  height: 297px;
  margin-right: 32px;
}

.cheatSheetCard .loveLetterCardTop {
  font-size: 24px;
}
